<launch>
    <!-- parameters -->
    <arg name = "rosbag_file" value = "/home/point/stereo_bagdata/2022-12-27-18-22-49.bag" />
    <arg name="iris_config_path" default = "$(find iris)/../config/iris_mono_basler.yaml" /> 
    <arg name="vslam_config_path" default = "$(find iris)/../orbslam2_bridge/3rd/ORB_SLAM2/Examples/Monocular/basler_mono.yaml" />

    <arg name="pcd_path" default = "$(find iris)/../../../0.25_all_points.pcd" /> 
    <arg name="vocab_file" default = "$(find iris)/../orbslam2_bridge/3rd/ORB_SLAM2/Vocabulary/ORBvoc.txt" />
    <arg name="is_image_compressed" default = "false"/>
    <arg name="is_image_color" default = "false"/>
    <arg name="image_topic_name0" default = "/camera/left/image_raw" />

    <arg name="keyframe_recollection" default = "20" />
    
    <!-- iris_node -->
    <node name="iris_node" pkg="iris" type="iris_node" output="screen">
        <param name="iris_config_path" type="string" value="$(arg iris_config_path)" />
        <param name="pcd_path" type="string" value="$(arg pcd_path)" />
    </node>

   <node name="orbslam2_bridge_node" pkg="orbslam2_bridge" type="orbslam2_bridge_node" output="screen">
      <param name="vslam_config_path" type="string" value="$(arg vslam_config_path)" />
      <param name="vocab_path" type="string" value="$(arg vocab_file)" />
      <param name="image_topic_name0" type="string" value="$(arg image_topic_name0)" />
      <param name="is_image_compressed" type="bool" value="$(arg is_image_compressed)" />
      <param name="is_image_color" type="bool" value="$(arg is_image_color)" />
      <param name="keyframe_recollection" type="int" value="$(arg keyframe_recollection)" />
   </node>

   <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find iris)/../config/iris.rviz" />
   <node name="player" pkg="rosbag" type="play" args="--clock -r 0.5 $(arg rosbag_file)" cwd="node" required="true" />
</launch>
